#
# Copyright (C) 2024 The LineageOS Project
#
# SPDX-License-Identifier: Apache-2.0
#

on init
    # Charger
    write /proc/fastchg_fw_update 1
    write /proc/ui_soc_decimal 1

on fs
    # Update touchpanel firmware in case we ship newer firmware in /odm
    write /proc/touchpanel/tp_fw_update 0

on boot
    # Display
    chown system system /dev/oplus_display
    chmod 0644 /dev/oplus_display
    chown system system /sys/kernel/oplus_display/dsi_cmd
    chown system system /sys/kernel/oplus_display/dim_alpha
    chown system system /sys/kernel/oplus_display/dim_dc_alpha
    chown system system /sys/kernel/oplus_display/ccd_check
    chown system system /sys/kernel/oplus_display/audio_ready
    chown system system /sys/kernel/oplus_display/dimlayer_set_bl
    chown system system /sys/kernel/oplus_display/dynamic_osc_clock
    chown system system /sys/kernel/oplus_display/notify_panel_blank
    chown system system /sys/kernel/oplus_display/roundcorner
    chown system system /sys/kernel/oplus_display/vsync_switch
    chown system system /sys/kernel/oplus_display/adfr_debug
    chown system system /sys/kernel/oplus_display/oplus_brightness
    chown system system /sys/kernel/oplus_display/oplus_max_brightness
    chown root root /sys/kernel/oplus_display/panel_id
    chown root root /sys/kernel/oplus_display/panel_serial_number

    chmod 0666 /sys/kernel/tracing/events/sde/enable
    chmod 0666 /sys/kernel/tracing/events/sde/tracing_mark_write/enable
    chmod 0666 /sys/kernel/tracing/events/sde/sde_evtlog/enable
    chmod 0666 /sys/class/kgsl/kgsl-3d0/snapshot/snapshot_control

    write /sys/kernel/tracing/events/sde/enable 1

on property:ro.boot.prjname=*
    # Display
    setprop ro.separate.soft ${ro.boot.prjname}

    # Radio
    setprop ro.product.hw ${ro.boot.prjname}

service occe_create /odm/bin/occe_create
    class main
    user root
    group root media_rw
    oneshot

on post-fs-data
    mkdir /mnt/occe 0777 media_rw media_rw
    mkdir /mnt/occe/shader 0777 media_rw media_rw
    mkdir /mnt/occe/shader/fb_binary 0777 media_rw media_rw
